altair
annotated-types
attrs
blinker
blis
cachetools
catalogue
certifi
charset-normalizer
click
colorama
confection
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
gensim
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
langcodes
markdown-it-py
MarkupSafe
matplotlib
mdurl
murmurhash
nltk
numpy
packaging
pandas
pathy
Pillow
preshed
protobuf
pyarrow
pydantic
pydantic_core
pydeck
Pygments
Pympler
python-dateutil
pytz
pytz-deprecation-shim
referencing
regex
requests
rich
rpds-py
scipy
six
smart-open
smmap
spacy
spacy-legacy
spacy-loggers
srsly
streamlit
streamlit-lottie
tenacity
thinc
toml
toolz
tornado
tqdm
typer
typing_extensions
tzdata
tzlocal
urllib3
validators
wasabi
watchdog
zipp
